/* 전체적인 레이아웃 설정 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#main-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 80px;
}

.complaint-detail-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

/* 제목 */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* 민원 상세 정보 */
#complaint-detail {
    margin-bottom: 20px;
}

#complaint-detail p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

strong {
    font-weight: bold;
}

/* 버튼 스타일 */
button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s;
}

/* 수정 버튼 스타일 */
#edit-btn {
    background-color: darkslateblue;
}

#edit-btn:hover {
    background-color: rgb(117, 106, 190);
}

/* 취소 버튼 스타일 */
#cancel-btn {
    background-color: rgb(48, 40, 100);
}

#cancel-btn:hover {
    background-color: rgb(91, 79, 168);
}
